*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.body{
  min-height: 100vh;
}


main {
  width: 100vw;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  font-size: large;
  margin: 20px;
}
div h3{
  margin: 2em;
}
.divFill{
  padding: 2em;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
}

.imgFibrosis{
  max-width: 15em;
  max-height: 15em;
  border-radius: 1em;
}

footer {
  height: 15vh;
  display: flex;
  position: relative;
}

body, p {
  font-size: large;
  text-align: left;
}

.tittle{
  font-size: larger;
  margin: 2em;
}