*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.body{
  min-height: 100vh;
}

header {
  height: 15vh;
  width: 100vw;
  background-color: bisque;
  display: flex;
}
main {
  height: 70vh;
  width: 100vw;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

footer {
  height: 15vh;
  background-color: rgb(0, 181, 236);
  display: flex;
  position: relative;
}